html{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.etchasketch {
    background-color: #A0171C;
}
.right{
   float: right;
   padding: 20px;
    background-color: #A0171C;
}

.left{
    display: inline-block;
}

.container{
    background-color: rgb(255, 255, 255);
    margin-top: 1em;
    margin-right: 1em;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

.square {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    cursor: url('./pencil.png'), default;
}

.colored {
    background-color: rgb(153, 10, 10);
    border: 1px solid black;
    cursor: url('./pencil.png'), default;

}

.rainbow {
    border: 1px solid black;
}